{% extends "base_sub.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Event Details" %}{% endblock %}

{% block title %}
{% trans "Event Details" %}
{% endblock %}

{% block header_top_left %}
{{ home.header_top_left|safe }}
{% endblock %}

{% block header_top_right %}
{{ home.header_top_right|safe }}
{% endblock %}

{% comment %}{% block header_middle_left %}
{{ home.header_middle_left|safe }}
{% endblock %}

{% block header_middle_right %}
{{ home.header_middle_right|safe }}
{% endblock %}

{% block main %}
{{ home.event_details|safe }}
{% endblock %}

{% block main_bottom %}
{{ home.body_middle_column_bottom|safe }}
{% endblock %}

{% block body_right_col %}
{{ home.body_right_column|safe }}
{% endblock %}{% endcomment %}

{% block body_left_col_top %}
{{ home.body_left_column_top|safe }}
{% endblock %}

{% block main_top %}
{{ home.body_middle_column_top|safe }}
{% endblock %}

{% block rate_image %}
{#    <img src="{{ STATIC_URL }}media/{{ home.body_left_column_rate_image }}" alt="" />#}
    <h4>Rates <a href="http://www.western.org/about/rates_loan.aspx" target="_blank" class="img" ><img src="{{ STATIC_URL }}media/{{ home.body_left_column_rate_image }}" alt="Current Rates" /></a></h4>
{% endblock %}

{% block body_left_col_bottom %}
{{ home.body_left_column_bottom|safe }}
{% endblock %}

{% block event_details_right %}
{{ home.event_details_right|safe }}
{% endblock %}

{% block event_details_left %}
{{ home.event_details_left|safe }}
{% endblock %}

{% comment %}{% block footer %}
{{ home.footer|safe }}
{% endblock %}{% endcomment %}
