{% extends "base_home.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block header_top_left %}
{{ home.header_top_left|safe }}
{% endblock %}

{% block header_top_right %}
{{ home.header_top_right|safe }}
{% endblock %}

{% block header_middle_left %}
{{ home.header_middle_left|safe }}
{% endblock %}

{% block header_middle_right %}
{{ home.header_middle_right|safe }}
{% endblock %}

{% block body_left_col_top %}
{{ home.body_left_column_top|safe }}
{% endblock %}

{% block body_left_col_bottom %}
{{ home.body_left_column_bottom|safe }}
{% endblock %}

{% block main_top %}
{{ home.body_middle_column_top|safe }}
{% endblock %}

{% block rate_image %}
{#    <img src="{{ STATIC_URL }}media/{{ home.body_left_column_rate_image }}" alt="" />#}
    <h4>Rates <a href="http://www.western.org/about/rates_loan.aspx" target="_blank" class="img" ><img src="{{ STATIC_URL }}media/{{ home.body_left_column_rate_image }}" alt="Current Rates" /></a></h4>
{% endblock %}

{% block main %}
{% for e in events %}
<tr {% cycle 'class="color"' '' %}>
    <td>
        <p class="month">{{ e.event_date|date:"M"|upper }}</p>
        <p class="day">{{ e.event_date|date:"d" }}</p>
    </td>
    <td class="title"><a href="{% url toyota.views.event_details %}"><strong>{{ e.event }}</strong></a></td>
    <td>{{ e.location }}</td>
    <td class="noborder">{{ e.start_time|time:"gA" }} - {{ e.end_time|time:"gA" }}</td>
</tr>
{% endfor %}
{% comment %}
<table>
<tr><th>Date</th><th>Event</th><th>Location</th><th>Time</th></tr>
{% for e in events %}
<tr><td>{{ e.event_date }}</td><td><a href="{% url northrup.views.event_details %}">{{ e.event }}</a></td><td>{{ e.location }}</td><td>{{ e.start_time }} - {{ e.end_time }}</td></tr>
{% endfor %}
</table>
{% endcomment %}
{% endblock %}

{% block main_bottom %}
{{ home.body_middle_column_bottom|safe }}
{% endblock %}

{% block event_details %}
{{ home.event_details|safe }}
{% endblock %}

{% block body_right_col %}
{{ home.body_right_column|safe }}
{% endblock %}

{% block footer %}
{{ home.footer|safe }}
{% endblock %}
